@model Task<List<FarmasiCase.Entities.Dto.BasketDto>>
@{

	Layout = "_Layout";
}


<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<body>
	<div class="content-body">
		<h2 style="color:#f05a6a"><b>Sepetim</b></h2>
		<hr style="color:#f05a6a" />


		<section id="basic-examples">
			<div class="row">
				<div class="col-xl-2 col-md-6 col-sm-12">
				</div>
			</div>
			<br />
			<br />

			<div class="row match-height">
				@foreach (var item in await Model)
				{
					<div class="col-xl-3 col-md-6 col-sm-12">
						<div class="card" style="border-style:solid ">
							<div class="card-content">
								<img class="card-img-top img-fluid" src="../../../app-assets/images/carousel/06.jpg" alt="Card image cap">
								<div class="card-body">
                               

									<h4 class="card-title">@item.ProductName</h4>
									<p class="card-text">@item.Price</p>
									<p class="card-text">@item.Quantity</p>
									<a class="btn  btn-outline-danger"  data-id="@item.Id" data-name="@item.ProductName" data-price="@item.Price">Kaldır</a>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</section>
	</div>
</body>
<!-- END: Body-->

</html>

 <script src="~/js/swal.js"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script>
    $(".btn").on('click', function() 
	{
        var _id= $(this).data("id");
        var ProductName=$(this).data("name");
        var Price=$(this).data("price");

        $.ajax(
        {
            type: "POST",
            url: '/Basket/DeleteBasket',
            data: {Id:_id, ProductName:ProductName, Price:Price},
            success: function (data)
                    {
                     if(data=="1") 
                     {
                         Swal.fire(
                            'Başarı!',
                            'Ürün silindi!',
                            'success');

							  setTimeout(Refresh, 2000);

                     }
                     else
                     {
                            Swal.fire(
                            'Hata',
                            'Ürün silinemedi.',
                            'danger');
                     }
                    }
        }
     );
	});
	    function Refresh()
    {
       window.location.href="/Basket/GetAll";
}
</script>